//Variabls
$main-theme-color: #08d565;
$white-color: #fff;
$theme-color: #17c0eb;
$theme-color-one: #042656;
$theme-color-two: #110230;
$theme-color-three: #7996a9;
$theme-color-four: #232323;
$theme-color-five: #0b1e3d;
$theme-color-six: #042656;
$theme-color-1: #eb566c;
$theme-color-2: #6718e9;
$theme-color-3: #29184a;
$theme-color-4: #e97518;
$cate: #555555;
$background: #f9f8f8;
$gray-bg: #f3f8f9;
$section-color: #2e2e2e;
$rating: #fcb903;
$bg-section: #26353e;
$bg-main-section: #2f1663;
$body: #110230;
$pragraph: #d3d3d3;
$border-color: #4d4e4f;
